# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:root@localhost:3307/graphql-sns-db?schema=public"

JWT_SECRET="pw00UTaOoXdOyKsNIYAl0pDnYJ7Pei7quEK28+MLaiiXKHovoubZU7n8WDzkEoeLcUn0YXrIWuJMR8cAI0dM+aG68QYAXkHe782hf0hz36F0H15IJonNsB/2sp/XmFmxGrk7Oxcj+HVfHnj25Q5gmLQ1ElhVdrINQshTFVYKAfDt5VkT1iaufOf5WqXB8O4F+KTI9Q1zL4vxloD0zQbe6fGkuj42nnF6cpBB+Co3gm8/UpesQBtEFRu04lrWEpokdAG06Uo1GlqC3xNy7XfEkxrfqtbLkPT3uGoE9X7IZVkiWBUrpRAICiqdc8Z+aCk/cxNumX2omGPLUnIfrGApGQ=="